<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add Job</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-item color="dark">
        <ion-label position="floating">Job Title</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item color="dark">
        <ion-label position="floating">Company</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item color="dark">
        <ion-label position="floating">Location</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item color="dark">
        <ion-label position="floating">Job Description</ion-label>
        <ion-textarea></ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin">Create Job</ion-button>
  </div>
</ion-content>
